/* gruvbox light
 * https://github.com/morhetz/gruvbox
 * base16: https://github.com/dawikur/base16-gruvbox-scheme
 * Version by Mujtaba replacing the darker colours with lighter ones.
 */

:root {
	--base00: #fbf1c7;
	--base01: #ebdbb2;
	--base02: #d5c4a1;
	--base03: #bdae93;
	--base04: #665c54;
	--base05: #504945;
	--base06: #3c3836;
	--base07: #282828;
	--base08: #cc241d;
	--base09: #af3a03;
	--base0A: #d79921;
	--base0B: #98971a;
	--base0C: #689d6a;
	--base0D: #458588;
	--base0E: #b16286;
	--base0F: #d65d0e;
}
