/*
	SWAMP
*/

:root {
	--base00: #242015;
	--base01: #3A3124;
	--base02: #4D3F32;
	--base03: #5F4E41;
	--base04: #B8A58C;
	--base05: #D2C3A4;
	--base06: #ebe0bb;
	--base07: #F1E9D0;
	--base08: #a82d56;
	--base09: #ba6d36;
	--base0A: #e69a0e;
	--base0B: #736f4e;
	--base0C: #61a0a8;
	--base0D: #80465f;
	--base0E: #b05d61;
	--base0F: #b06733;
}
