<style>

  /* light mode colors */
  body {
    --primary-color: #BF7979;
    --primary-pale-color: #DDCEBC;
    --text-color: #64513E;
    --text-pale-color: #A0907D;
    --bg-color: #F1E3D1;
	--highlight-mark-color: #Cc241d;

    --callout-note-color: #d09700;
    --callout-important-color: #d09700;
    --callout-warning-color: #945581;
    --callout-alert-color: #993333;
    --callout-question-color: #75858c;
    --callout-tip-color: #908d6a;
  }

  /* dark mode colors */
  body.dark {
    --primary-color: #db930d;
    --primary-pale-color: #4D3F32;
    --text-color: #ebe0bb;
    --text-pale-color: #b8a58c;
    --bg-color: #242015;
    --highlight-mark-color: #cc241d;

    --callout-note-color: #C1666B;
    --callout-important-color: #C1666B;
    --callout-warning-color: #BA6D36;
    --callout-alert-color: #a82d56;
    --callout-question-color: #91506C;
    --callout-tip-color: #7A7653;
  }

  /* typography */
  body {
    --main-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --icon-size: 20px;
    --homepage-font-size: 16px;
    --homepage-line-height: 1.75;
    --paragraph-font-size: 16px;
    --paragraph-line-height: 1.75;
    --aside-font-size: 15px;
    --img-border-radius: 0px;
    --callout-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-pale-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
